/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
public/uploads/
public/frontend/js/app-frontend.js
public/mix-manifest.json
public/css/app.css
public/admin/css/app.css
public/web/js/app-web.js
